.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "navOne navOne navTwo navTwo"
  "header header header header"
  "text text picOne picOne"
  "contactOne contactTwo contactThree contactFour"
  "footer footer footer footer";
   padding-left: 10%;
  padding-right: 10%;
}

.navOne{
  grid-area: navOne;
  background-color: #03071E ;
  padding: 20px;
}

.nav a {
color:white;
}

.navTwo{
  grid-area: navTwo;
  background-color: #03071E ;
  padding: 20px;
  text-align: right;
}

.navTwo li{
  display: inline;
  padding: 10px;
}

.header{
  grid-area: header;
  background-color: #FAA307;
  padding: 30px;
}

.text{
  grid-area: text;
  background-color: #FAA307;
  padding: 150px
}

.picOne{
  grid-area: picOne;
  background-color: #FAA307;

}
.contactOne{
  grid-area: contactOne;
  background-color:#000000;
  padding: 20px;
}

.contactTwo{
  grid-area: contactTwo;
  background-color: #000000;
  padding: 20px;
}

.contactThree{
  grid-area: contactThree;
  background-color: #000000;
  padding: 20px;
}

.contactFour{
  grid-area: contactFour;
  background-color: #000000;
  padding: 20px;
}
.footer{
  grid-area: footer;
  background-color: #03071E;
  padding: 40px;
}
