
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "navOne navTwo navTwo"
   "title title title"
  "headOne  headOne headOne"
  "picOne textOne textOne"
  "headTwo headTwo headTwo"
  "textTwo textTwo picTwo"
  "footer footer footer";
   padding-left: 10%;
  padding-right: 10%;
}

.navOne{
  grid-area: navOne;
  background-color: #03071E ;
  padding: 20px;
}

.nav a {
color:white;
}

.navTwo{
  grid-area: navTwo;
  background-color: #03071E ;
  padding: 20px;
  text-align: right;
}

.navTwo li{
  display: inline;
  padding: 10px;
}

.title {
  grid-area: title;
  background-color: #DC2F02 ;
  padding: 150px;
  text-align: center;
}


.headOne{
  grid-area: headOne;
  padding: 15px ;
  text-align: centre;
}

.picOne{
  grid-area: picOne;
  background-color: #ffe600;
}

.textOne{
  grid-area:textOne ;
  background-color: #D00000 ;
  padding: 40px;
}

.headTwo {
  grid-area:headTwo ;
  padding: 15px;
  text-align: centre;
}


.textTwo {
  grid-area: textTwo;
  background-color: #D00000 ;
  padding: 40px;
}


.picTwo{
  grid-area: picTwo;
  background-color: #ffe600 ;
}

.footer{
  grid-area: footer ;
  background-color: #03071E;
  padding: 40px ;
}