.container { 
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
"nav nav nav"
"heading heading heading"
"picOne textOne textOne"
"textTwo textTwo picTwo"
"picThree textThree textThree"
"footer footer footer";
grid-gap: 15px
  }


.nav li{
  display: inline;
  padding: 10px;
}


.nav {
  grid-area: nav;
  background-color: #03071E;
  padding: 20px
}

.heading {
  grid-area: heading;
  background-color: #DC2F02 ;
  padding: 40px
}

.picOne {
  grid-area: picOne;
  background-color: #ffc0cb;
}

.textOne {
  grid-area: textOne;
  background-color: #F48206;
  
}

.picTwo{
  grid-area: picTwo;
  background-color: #ffc0cb;

}

.textTwo {
  grid-area: textTwo;
  background-color: #F48206;
  background-color: ;
}

.picThree {
  grid-area: picThree;
  background-color: #ffc0cb;
}

.textThree {
  grid-area: textThree;
  background-color: #F48206;
  padding: 
}

footer {
  grid-area: footer;
  background: #03071E;
  padding: 40px
}