.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "header header"
  "profile aboutMe"
  "footer footer";
}


.header{
grid-area: header;
}

.nav{
  grid-area: nav;
  background-color: #b6f8faf3;
  padding: 20px
}

.nav li{
  display: inline;
  padding: 10px;
}

.profile {
  grid-area: profile;
  background-color:;
  padding: 70px
}

.aboutMe {
  grid-area: aboutMe;
  background-color:#ff69b493 ;
  padding: 70px
}

.footer {
  grid-area: footer;
  background-color:  #b6f8faf3;
  padding: 20px 
}

.aboutMe li{
  font-size: 40px
}




