
body{
  background-color: #FFBA08
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "navOne navTwo"
  "header header"
  "profile aboutMe"
  "footer footer";
  padding-left: 10%;
  padding-right: 10%;
}


.header{
  grid-area: header;
}

.navOne{
  grid-area: navOne;
  background-color: #03071E ;
  padding: 20px;
}

.navTwo{
  grid-area: navTwo;
  background-color: #03071E ;
  padding: 20px;
  text-align: right;
}

.navTwo li{
  display: inline;
  padding: 10px;
}

.profile {
  grid-area: profile;
  background-color:;
  padding: 70px
}

.aboutMe {
  grid-area: aboutMe;
  background-color:#9D0208 ;
  padding: 70px
}

.footer {
  grid-area: footer;
  background-color:  #03071E;
  padding: 20px 
}

.aboutMe li{
  font-size: 40px
}

img {
  width: 100%;
}